// MARGIN BOTTOM

.mb0 {
  margin-bottom: 0 !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb48 {
  margin-bottom: 48px !important;
}

.mb56 {
  margin-bottom: 56px !important;
}

.mb64 {
  margin-bottom: 64px !important;
}

.mb72 {
  margin-bottom: 72px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb88 {
  margin-bottom: 88px !important;
}

.mb96 {
  margin-bottom: 96px !important;
}

.mb104 {
  margin-bottom: 104px !important;
}

.mb112 {
  margin-bottom: 112px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.mb128 {
  margin-bottom: 128px !important;
}



// MARGIN TOP

.nmt {
  margin-top: 0 !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt48 {
  margin-top: 48px !important;
}

.mt56 {
  margin-top: 56px !important;
}

.mt64 {
  margin-top: 64px !important;
}

.mt72 {
  margin-top: 72px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt88 {
  margin-top: 88px !important;
}

.mt96 {
  margin-top: 96px !important;
}

.mt104 {
  margin-top: 104px !important;
}

.mt112 {
  margin-top: 112px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt128 {
  margin-top: 128px !important;
}
