.wpcf7 .float-labels {
  margin-bottom: 16px;
  position: relative;
  z-index: 3;
  @include max992 {
    height: 52px;
  }
}

.wpcf7 .float-labels > label {
  position: absolute;
  top: -6px;
  left: 10px;
  transition: all 0.1s ease-in-out;
  color: $font-color-base;
  font-size: 16px;
  z-index: 1;
  background-color: #fff;
  display: block;
  padding: 0 4px;
  @include max992 {
    padding: 0;
  }
}

.wpcf7 .float-labels > label.move {
  opacity: 0.8;
  font-size: 10px;
  top: -8px;
  color: $primary;
  font-weight: 500;
}

.wpcf7 .float-labels-container {
  margin-top: 2rem;
}

label[for="your-offer"] {
  width: 100%;
  left: 0 !important;
}
