.single-post-content {
  .post-data-flex {
    align-items: baseline;
    @include max992 {
      flex-direction: column;
    }
  }
  &__thumbnail {
    display: block;
    margin-bottom: 40px;
  }

  &__date {
    color: $primary-light;
    font-size: 14px;
    color: #9c9e9f;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 1rem 0;
  }

  &__content {
    margin-top: 32px;
  }

  &__nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    //border-top: 1px solid $primary-lightest;
    padding-top: 40px;
    flex-wrap: wrap;

    a {
      width: 100%;
      letter-spacing: 1px;
      font-size: 13px;
      transition: 0.3s all ease;
      margin-bottom: 40px;

      @include min576 {
        max-width: 40%;
        margin-bottom: 0;
      }

      &:hover {
        color: $primary-darkest;
      }

      &:nth-of-type(2) {
        text-align: right;
      }
    }
  }
}
