.single-offer-content {
  $anchor-offset: -60px;
  position: relative;

  .related-offer-carousel {
    .headline.headline--xs {
      font-size: 36px;
      font-weight: 300 !important;
    }
    &::after {
      content: url(../img/single-offer-bg.png);
      display: block;
      height: auto;
      width: 616px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__excerpt {
    p {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 32px;

      @include min992 {
        margin-bottom: 40px;
      }
    }
  }

  &__thumbnail {
    margin-bottom: 48px;
    height: 375px;
    object-fit: cover;
  }

  &__content {
    .contact-module {
      margin-top: 40px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      span {
        position: absolute;
        top: $anchor-offset;
      }
    }
    .table-of-contents {
      background: #f5f5f5;
      padding: 2rem 3rem 1rem;
      position: relative;
      &::after {
        content: url(../img/toc.png);
        display: block;
        height: auto;
        width: 408px;
        position: absolute;
        right: 0;
        bottom: -1rem;
        @include max576 {
          display: none;
        }
        @include max768 {
          right: -4rem;
        }
      }
      h6 {
        font-size: 46px;
        color: #58585a;
        z-index: 11;
      }
      ul {
        z-index: 11;
      }
    }
  }

  &__faq {
    position: relative;
    border: 1px solid #bfbfbf;
    padding: 2rem;

    &::after {
      content: url(../img/faq-bg.png);
      display: block;
      height: auto;
      width: 408px;
      position: absolute;
      right: -5.5rem;
      top: 0;
    }

    span#faq {
      position: absolute;
      top: $anchor-offset;
    }

    h2 {
      font-size: 48px;
    }
    &__item {
      @include max576 {
        margin-bottom: 2rem;
      }
      @include min576 {
        padding: 20px 32px 0;
        margin-bottom: 2rem;
      }

      h3 {
        font-weight: bold !important;
        margin-bottom: 16px;
        line-height: 1.8;
        color: #000 !important;
        @include max576 {
          margin-left: 3rem;
        }
        &::before {
          content: "\f105";
          font-family: "icons-font";
          font-weight: 300;
          font-size: 14px;
          position: absolute;
          display: block;
          color: #fff;
          background: $primary;
          height: 25px;
          width: 25px;
          margin-right: 2rem;
          left: 2rem;
          text-align: center;
          border-radius: 50%;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    .contact-module {
      margin-top: 40px;
    }
  }

  &__pricetables {
    position: relative;
    span#cennik {
      position: absolute;
      top: $anchor-offset;
    }
    .contact-module {
      margin-top: 32px;
    }
    h5 {
      font-size: 36px;
      font-weight: 300 !important;
    }
  }
  &__metamorphosis {
    h2 {
      font-size: 48px !important;
      font-weight: 300 !important;
    }
  }
}

.single-offer {
  .preview-offer-sm {
    &__photo {
      margin-bottom: 1rem;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }
  .sidebar {
    &__item {
      border: none;
    }
  }
}

.preview-metamorphosis {
  position: relative;
  span#metamorphosis {
    position: absolute;
  }
  .metamorphosis {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .row {
    flex-direction: column;
  }
  &__content {
    h5 {
      color: #000;
    }
  }
  &__images {
    position: relative;
    margin-bottom: 2rem;
    img {
      max-width: 469px;
      height: 232px;
      @include max1360 {
        max-width: 469px;
        height: 232px;
        width: 100%;
        height: auto;
        padding: 2rem;
      }
    }
    i {
      width: 22px;
      height: 22px;
      &::before {
        padding: 0 9px;
        font-weight: 300;
        font-size: 22px;
      }
    }
    &::after {
      bottom: -4px;
      @include max1200 {
        content: none;
      }
    }
    a {
      position: relative;
      top: 44%;
      left: calc(25% - 104px);
      @include max1024 {
        top: 20%;
        left: 36%;
      }
      @include max768 {
        left: 30%;
      }
      @media all and (max-width: 440px) {
        left: 25%;
      }
    }
  }
}
