.big-icons-section {
  .infographic {
    padding: 1.5rem 14px;
    &__desc {
      p {
        color: #000;
      }
    }
    @include max576 {
      height: 340px;
      margin-bottom: 2rem;
    }
    &__icon-wrapper {
      @include max576 {
        height: 70px;
      }
    }
  }
}
