.dynamic-single-offer-section {
  .container {
    @include max992 {
      max-width: 991px;
    }
  }
  .row {
    position: relative;
    max-height: 520px;
    @include max992 {
      height: auto;
    }
    .left-side {
      z-index: 1;
      margin: 6rem 0 0 7rem;
      @include max576 {
        margin: 0;
      }
      @include min576 {
        margin: 40% 0 0;
      }
      @include min768 {
        margin: 2rem 10rem 0 3rem;
      }
      @include min1200 {
        margin: 6rem 0rem 0 5rem;
      }
      p {
        margin-bottom: 2rem;
      }
      .btn {
        margin-right: 1rem;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: auto;
      @include max768 {
        display: none;
      }
    }
  }
}
