.dynamic-single-offer-section {
  @include max576 {
    margin-bottom: 100px;
  }
  .container {
    @include max992 {
      max-width: 991px;
    }
  }
  .row {
    position: relative;
    max-height: 520px;
    width: 100%;
    margin: 0 auto;
    @include max992 {
      height: auto;
    }
    .left-side {
      z-index: 1;
      //margin: 6rem 0 0 7rem;
      @include max576 {
        margin: 0;
      }
      @include min576 {
        //margin: 40% 0 0;
      }
      @include min768 {
        margin: 1.5rem 10rem 0 4rem;
        .headline {
          font-size: 36px;
        }
      }
      @include min992 {
        margin: 2.5rem 10rem 0 4rem;
      }
      @include min1200 {
        margin: 6rem 0 6rem 5rem;
      }
      p {
        margin-bottom: 2rem;
      }
      .btn {
        margin-right: 1rem;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: auto;
      @include max768 {
        display: none;
      }
    }
  }
  @include max576 {
    .btn--secondary {
      margin-top: 2rem;
    }
  }
}
