.text-section {
  .container {
    .row {
      align-items: center;
      &__photo {
        margin-bottom: 40px;
      }
    }
  }
}

.about-us {
  .text-section {
    &__photo {
      margin-top: -9rem;
      position: relative;
      z-index: 1;
    }
  }
}

.text-section.sided-container {
  max-width: 1623px;
  .container {
    max-width: 1623px;
    .col-lg-7 {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &--right {
    position: relative;
    left: 19rem;
    img {
      position: relative;
      right: -1rem;
    }
  }
  &--left {
    img {
      position: relative;
      left: -1rem;
    }
  }
}

.hp-team-section {
  position: relative;
  &::after {
    content: url(../img/after1.png);
    display: inline;
    height: auto;
    width: 416px;
    position: absolute;
    right: -19.5rem;
    top: 0;
  }
}

.hp-cta-section {
  padding: 8rem 0;
  .col-lg-7 {
    position: absolute;
    max-width: 1364px !important;
    height: auto;
    img {
      width: 100%;
    }
  }
}
