.text-section {
  .container {
    z-index: 1;
    position: relative;
    .row {
      align-items: center;
      &__photo {
        margin-bottom: 40px;
      }
    }
  }
  &-cta {
    img {
      &:nth-of-type(2n) {
        @include max768 {
          display: none;
        }
      }
    }
  }
}

.about-us {
  .text-section {
    &__photo {
      margin-top: -11rem;
      position: relative;
      z-index: 1;
    }
  }
}

.text-section.sided-container {
  max-width: 1623px;
  .container {
    max-width: 1623px;
    .col-lg-7 {
      img {
        height: 100%;
        width: 100%;
      }
    }
    .row {
      gap: 2rem;
    }
  }
  &--right {
    position: relative;
    left: 19rem;
    @include min576 {
      left: 0;
    }
    @include min1200 {
      left: 0;
    }
    @include min1360 {
      left: 6rem;
    }

    @include max1480 {
      left: 10rem;
    }
    @include min1480 {
      left: 19rem;
    }
    @include max576 {
      left: 0;
    }

    img {
      position: relative;
      right: -1rem;
    }
    .col-lg-7 {
      flex: 0 0 66%;
      max-width: 66%;
    }
  }
  &--left {
    position: relative;
    right: 7rem;
    @include max1480 {
      left: -5rem;
      position: relative;
    }
    @include max1024 {
      left: 0;
    }
    // img {
    //   max-width: 95%;
    // }
    .col-lg-7 {
      flex: 0 0 67.333333%;
      max-width: 67.333333%;
    }
  }
}

.hp-team-section {
  position: relative;
  &::after {
    content: url(../img/after1.png);
    display: inline;
    height: auto;
    width: 416px;
    position: absolute;
    right: -19.5rem;
    top: 0;
  }
}

.hp-cta-section {
  padding: 8rem 0;
  .col-lg-7 {
    position: absolute;
    max-width: 1364px !important;
    height: auto;
    img {
      width: 100%;
    }
  }
}
