.btn {
  display: inline-block;
  padding: 8px 24px;
  font-size: 15px;
  background: linear-gradient(
    90deg,
    rgba(149, 190, 90, 1) 0%,
    rgba(59, 105, 69, 1) 100%
  );
  border-radius: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  text-transform: none;
  letter-spacing: 1px;
  transition: 0.3s all ease;
  user-select: none;

  &::after {
    content: "\f105";
    font-family: "icons-font";
    position: block;
    padding-left: 15px;
    font-weight: 300;
    font-size: 17px;
  }

  &:hover {
    background: #fff;
    border: 1px solid $primary;
    color: $primary;
    cursor: pointer;
  }

  &--secondary {
    padding: 8px 24px;
    border: 1px solid $primary;
    border-radius: 25px;
    color: $primary;
    background: transparent;
    &::after {
      content: "\f105";
      font-family: "icons-font";
      position: block;
      padding-left: 15px;
      font-weight: 300;
      font-size: 17px;
    }
    &:hover {
      background: linear-gradient(
        90deg,
        rgba(149, 190, 90, 1) 0%,
        rgba(59, 105, 69, 1) 100%
      );
      color: #fff;
    }
  }

  &--lg {
    padding: 11px 32px;
    font-size: 18px;
  }

  // LEFT SIDE ICON
  &--left-side-icon {
    i {
      margin: 0 4px 0 -4px;
    }
  }

  // RIGHT SIDE ICON
  &--right-side-icon {
    i {
      margin: 0 -4px 0 4px;
    }
  }

  // BOTH SIDE ICON
  &--both-side-icon {
    i:first-of-type {
      margin: 0 4px 0 -4px;
    }

    i:last-of-type {
      margin: 0 -4px 0 4px;
    }
  }
}
