.owl-carousel {
  .owl-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 75px;
    left: -28rem;

    .owl-dot {
      // background-color: $primary;
      // display: block;
      // width: 10px;
      // height: 10px;
      // margin: 0 6px;
      background-color: #9c9e9f;
      display: block;
      width: 76px;
      height: 7px;
      margin: 0 6px;
      border-radius: 10px;

      &.active {
        //background-color: $primary-lightest;
        opacity: 0.4;
      }
    }
  }
}
