.owl-carousel {
  .owl-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 75px;
    left: -28rem;
    @include max1480 {
      left: -21rem;
    }
    @include max1360 {
      left: -19rem;
    }
    @include max1200 {
      left: -17rem;
    }
    @include max1024 {
      left: -14rem;
    }
    @include max768 {
      left: -11rem;
    }
    @include max576 {
      left: -3rem;
    }

    .owl-dot {
      background-color: #9c9e9f;
      display: block;
      width: 76px;
      height: 7px;
      margin: 0 6px;
      border-radius: 10px;

      &.active {
        opacity: 0.4;
      }
    }
  }
}
