.pagination {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: -4px;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 0 15px;

  .page-numbers {
    display: inline-block;
    padding: 10px 15px;
    //background-color: $primary;
    background-color: $primary-light;
    color: #fff;
    margin: 4px;
    transition: 0.2s all ease;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
      color: #fff;
    }

    &.current {
      background-color: $primary;
      color: #fff;
    }

    &.dots {
      background-color: transparent;
      border: none;
      color: gray;
      padding: 10px 3px;
    }

    &.next {
      i {
      }
    }

    &.prev {
      i {
      }
    }

    &.next,
    &.prev {
      background-color: #fff;
      color: #000;
      transition: 0.2s all ease;
      border: 1px solid $primary-light;

      &:active,
      &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }
}
