// COLORS
$primary: #95be5a;

$primary-light: #9c9e9f;
$primary-lighter: #bfbfbf;
$primary-lightest: #f2f2f2;

$testimonials: #f5f5f5;
$gray: #e7e7e7;

$primary-dark: #4d4d4d;
$primary-darker: #333333;
$primary-darkest: #1a1a1a;

$font-color-base: #111;
$font-color-primary: #333;
$font-color-secondary: #555;

$red: #d40404;

// FONT
$font-family: "Jost", sans-serif;

// SHADOWS
