.breadcrumbs {
  line-height: 1.7;
  margin-bottom: 16px;
  color: $primary-light;
  span {
    letter-spacing: 2px;
    font-weight: 300 !important;
  }

  a {
    color: $primary-light;
    margin-right: 1.65rem;
    letter-spacing: 2px;
    font-weight: 300 !important;
    &::after {
      content: url(../img/vector-breadcrumbs.png);
      display: inline;
      height: auto;
      position: absolute;
      margin-left: 6px;
    }
  }
}
