.gallery {
  &__photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 30px;
    img {
      border-radius: 50%;
    }
  }
}

.single-team {
  .gallery {
    &__photo {
      img {
        border-radius: 0;
        max-width: 177px;
        height: 127px;
        width: 100%;
      }
    }
  }
}
