.post-terms {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    font-size: 14px;
    margin-right: 8px;
    padding: 8px 16px;
    transition: 0.1s all ease;
    color: $primary;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 3px;

    &:hover {
      background-color: $primary-light;
      color: #fff;
    }
  }
  p {
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #9c9e9f;
  }
}
