.preview-post {
  margin-bottom: 22px;
  border-bottom: 1px solid $primary-lightest;
  padding-bottom: 72px;
  user-select: none;
  container-type: inline-size;
  @container (max-width: 400px) {
    .preview-post__image {
      min-width: 100% !important;
    }
  }

  &__img {
    display: block;
    margin-bottom: 32px;
    height: 206px;
    border-radius: 200px;
    object-fit: cover;

    @include min768 {
      margin-bottom: 0;
    }
  }

  &__date {
    color: $primary-light;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 24px;
    font-weight: 600 !important;
    letter-spacing: 3px;
    margin: 1rem 0;
  }

  &__title {
    margin-bottom: 24px;
    a {
      font-weight: 300 !important;
    }
  }

  &__excerpt {
    margin-top: 24px;
  }
}
