.preview-metamorphosis {
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 617px;
    }
    .before {
      filter: blur(8px);
    }
    .after {
    }
    a {
      position: absolute;
      top: calc(50% + 50px);
      left: calc(25% - 85px);
    }
    i {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: $primary;
      &::before {
        content: "\f105";
        font-family: "icons-font";
        position: block;
        padding-left: 15px;
        font-weight: 300;
        font-size: 32px;
        margin: 0 auto;
        color: #fff;
      }
    }
    &::after {
      content: url(../img/leafs-metamorf.png);
      display: block;
      height: auto;
      width: 416px;
      position: absolute;
      right: -13.5rem;
      bottom: -5px;
    }
  }
  &__images.show {
    .before {
      filter: blur(0) !important;
    }
  }
}
