.preview-metamorphosis {
  margin-bottom: 4rem;
  &__content {
    h4 {
      font-size: 20px;
      color: #111;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max1024 {
      flex-direction: column;
      gap: 1rem;
    }
    @include max992 {
      gap: 0;
    }
    img {
      width: 617px;
      max-height: 305px;
      border-radius: 10rem;
      object-fit: cover;
    }
    .before {
      filter: blur(8px);
    }
    i {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: $primary;
      &::before {
        content: "\f105";
        font-family: "icons-font";
        padding-left: 15px;
        font-weight: 300;
        font-size: 32px;
        margin: 0 auto;
        color: #fff;
      }
    }
    &::after {
      content: url(../img/leafs-metamorf.png);
      display: block;
      height: auto;
      width: 416px;
      position: absolute;
      right: -13.5rem;
      bottom: 3.5rem;
      @include max1200 {
        content: none;
      }
    }
  }
  &__images.show {
    .before {
      filter: blur(0) !important;
    }
  }
  &__btn {
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
  }
}

.preview-metamorphosis {
  position: relative;
  span#metamorphosis {
    position: absolute;
  }
  .metamorphosis {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .row {
    flex-direction: column;
  }
  &__content {
    h5 {
      color: #000;
    }
  }
  &__images {
    position: relative;
    margin-bottom: 2rem;
    img {
      max-width: 469px;
      height: 232px;
      @include min1480 {
        max-width: 460px;
        height: 232px;
      }
      @include max1480 {
        max-width: 425px;
        height: 225px;
        width: 100%;
        height: auto;
        padding: 2rem;
        // padding-bottom: 0;
      }
      @include max992 {
        max-width: 500px;
        height: 250px;
      }
    }
    .before-text {
      position: absolute;
      bottom: -1rem;
      left: 9.5rem;
      @include max576 {
        top: 15rem;
        left: 7rem;
      }
      @include min576 {
        top: 14rem;
        left: 12rem;
      }
      @include min768 {
        left: 17.5rem;
      }
      @include min992 {
        top: 18rem;
        left: 16.5rem;
      }
      @include min1024 {
        top: 14rem;
        left: 6.5rem;
      }
      @include min1200 {
        top: 18rem;
        left: 10rem;
      }
      @include min1480 {
        top: 15rem;
        left: 11rem;
      }
    }
    .after-text {
      position: absolute;
      bottom: 0;
      right: 8.5rem;
      @include min576 {
        right: 13.5rem;
      }
      @include min768 {
        right: 19rem;
      }
      @include min992 {
        right: 17.5rem;
      }
      @include min1024 {
        bottom: 0;
        right: 7.5rem;
      }
      @include min1200 {
        right: 10.5rem;
      }
      @include min1480 {
        bottom: -2rem;
        right: 11.5rem;
      }
    }
    i {
      width: 22px;
      height: 22px;
      @include min1200 {
        position: relative;
        left: 2.5rem;
      }
      @include min1360 {
        left: 2rem;
      }
      @include max1024 {
        display: none;
      }
      &::before {
        padding: 0 9px;
        font-weight: 300;
        font-size: 22px;
      }
    }
    &::after {
      @include max1200 {
        content: none;
      }
      @include min1200 {
        bottom: 27px;
      }
      @include min1480 {
        bottom: -4px;
      }
    }
    a {
      position: relative;
      @include max1024 {
        left: 0;
        top: -10rem;
      }
      @media all and (max-width: 440px) {
        top: -8.5rem;
      }
      @include min992 {
        top: -11rem;
      }
      @include min1024 {
        margin-left: -12rem;
        left: -8rem;
        top: -0.5rem;
      }
      @include min1200 {
        margin-left: -18rem;
        left: -14%;
      }
    }
  }
}

.single-offer-content {
  .preview-metamorphosis {
    &__images {
      a {
        @include max576 {
          top: -8rem;
        }
        @include min576 {
          top: -9rem;
        }
        @include min992 {
          top: -11rem;
        }
        @include min1024 {
          top: 0;
          left: -3rem;
        }
        @include min1360 {
          left: -4rem;
        }
        // @include min1480 {
        //   left: -4rem;
        // }
      }
    }
  }
}
