.preview-metamorphosis {
  margin-bottom: 4rem;
  &__content {
    h4 {
      font-size: 46px;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 617px;
      max-height: 305px;
      border-radius: 10rem;
      object-fit: cover;
    }
    .before {
      filter: blur(8px);
    }
    a {
      position: absolute;
      top: calc(50% + 30px);
      left: calc(25% - 110px);
    }
    i {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: $primary;
      &::before {
        content: "\f105";
        font-family: "icons-font";
        position: block;
        padding-left: 15px;
        font-weight: 300;
        font-size: 32px;
        margin: 0 auto;
        color: #fff;
      }
    }
    &::after {
      content: url(../img/leafs-metamorf.png);
      display: block;
      height: auto;
      width: 416px;
      position: absolute;
      right: -13.5rem;
      bottom: 3.5rem;
    }
  }
  &__images.show {
    .before {
      filter: blur(0) !important;
    }
  }
  &__btn {
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
  }
}
