.preview-person {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;

  &__photo {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      border-radius: 50%;
      height: auto;
    }
  }

  &__title {
    line-height: 1.5;
    margin-bottom: 8px;
    color: $primary;
    font-size: 36px;
    @include max1024 {
      font-size: 28px;
    }
  }

  &__position {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &__excerpt {
    max-width: 400px;
  }
}

// TEAM LIST MOD
.team-section--list {
  margin-bottom: 24px;

  .preview-person {
    display: flex;
    margin-bottom: 56px;
  }
}

// SIDEBAR
.sidebar {
  .preview-person {
    display: flex;
    &__title {
      font-size: 20px;
    }
    &__right-side {
      margin-top: 0;
      flex: 0 0 67%;
      max-width: 67%;
    }
    &__position {
      font-size: 16px;
    }
  }
}
