.preview-person {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  //max-width: 480px;
  user-select: none;

  &__photo {
    width: 100%;
    padding-bottom: 65%;
    margin-bottom: 16px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__right-side {
    margin-top: 6rem;
  }
  &__title {
    line-height: 1.5;
    margin-bottom: 8px;
    color: $primary;
    font-size: 36px;
  }

  &__position {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &__excerpt {
    max-width: 400px;
  }
}

// TEAM LIST MOD
.team-section--list {
  margin-bottom: 24px;

  .preview-person {
    display: flex;
    margin-bottom: 56px;
  }
}

// SIDEBAR
.sidebar {
  .preview-person {
    display: flex;
    &__title {
      font-size: 20px;
    }
    &__right-side {
      margin-top: 0;
    }
    &__position {
      font-size: 16px;
    }
  }
}
