.preview-offer-sm {
  display: flex;
  align-items: center;
  //margin-bottom: 48px;
  transition: 0.2s all ease;
  max-width: 600px;
  user-select: none;
  position: relative;
  &::after {
    content: url(../img/Vector.png);
    display: inline;
    height: 55px;
    position: absolute;
    right: -6rem;
    top: 0rem;
    @include max1200 {
      right: -4rem;
    }
    @include max576 {
      right: -2rem;
    }
    @include min576 {
      right: -6rem;
    }
    @include min768 {
      right: -1rem;
    }
    @include min992 {
      right: -6rem;
    }
  }

  &:hover {
    opacity: 0.88;
  }
  &__photo {
    img {
      position: relative;
      width: 96px !important;
      padding-bottom: 24%;
      margin-right: 16px;
      flex-shrink: 0;
    }
  }
  &__column {
    height: 100%;
  }
  &__title {
    margin-bottom: 2rem;
    color: $primary;
    font-size: 20px;
    max-width: 160px;
    position: relative;
    z-index: 1;
  }
}

.single-offer-content {
  .related-offer-carousel {
    .preview-offer-sm {
      &__photo {
        border-radius: 50%;
        img {
          padding-bottom: 2rem;
          width: 120px !important;
          height: 120px;
          object-fit: contain;
          border-radius: 50%;
        }
      }
    }
  }
}
