.preview-offer {
  display: block;
  user-select: none;

  &__photo {
    width: 100%;
    min-height: 307px;
    border-radius: 50%;
    padding-bottom: 72%;
    margin-bottom: 16px;
    position: relative;

    @include max1200 {
      min-height: 275px;
    }
    @include min992 {
      min-height: 220px;
    }
    @include min1200 {
      min-height: 270px;
    }
    @include min1360 {
      min-height: 320px;
    }
    @include max576 {
      padding-bottom: 50%;
    }

    img {
      width: 307px !important;
      height: 307px;
      border-radius: 50%;
      margin: 0 auto;
      @include max1360 {
        width: 320px !important;
        height: 320px;
      }
      @include max1200 {
        width: 250px !important;
        height: 250px;
      }
      @include min992 {
        height: 210px;
      }
      @include min1200 {
        height: 270px;
      }
      @include min1360 {
        height: 307px;
      }
      @include max992 {
        margin: 0 auto;
      }
    }
  }

  &__title {
    font-size: 24px;
    color: $primary;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 300 !important;
  }
}

.owl-offer {
  button {
    border: 0 !important;
  }
}

.owl-carousel.owl-offer .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  border: 0 !important;
}
.owl-carousel.owl-offer .owl-nav,
.owl-carousel .owl-nav {
  top: -15rem;
}

.offer-text {
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}
