.social-media {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  &__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 20px;
    margin: 8px 4px;
    transition: 0.2s all ease;

    &:hover {
      background-color: $primary-dark;
    }
    .icon-instagram {
      font-size: 2rem;
      &::before {
        color: $primary;
      }
    }
    .icon-facebook:before {
      background: #95be5a;
      padding: 4px 14px;
      border-radius: 4px;
    }
  }
}

// HERO MODS
.hero {
  position: relative;
}
.social-media {
  display: none;
  border-radius: 30px;
  justify-content: center;
  align-items: center;

  @include min992 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    z-index: 3;
    width: 62px;
    height: 222px;
    background-color: #fff;
  }

  &__item {
    margin: 2px 0;
  }
  .intro-line {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// PAGE HERO MODS
.page-hero {
  position: relative;

  .social-media {
    display: none;

    @include min576 {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 3;
    }

    &__item {
      margin: 2px 0;
    }
  }
}

// MOBILE NAV MODS
.nav-mobile {
  .social-media {
    justify-content: center;
    margin-top: 24px;

    &__item {
      background-color: $primary-dark;

      &:hover {
        background-color: $primary-darker;
      }
    }
  }
}

// FOOTER MODS
.footer {
  .social-media {
    justify-content: center;
    margin-bottom: 32px;
  }
}
