.testimonial {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  &__content {
    margin-top: 16px;
  }

  &__author {
    font-weight: 700;
  }
}

.owl-testimonials {
  padding-bottom: 24px;
  margin-bottom: 48px;

  .owl-nav {
    button.owl-prev, button.owl-next {
      top: 30%;
    }
  }

  .owl-dots {
    bottom: 0;

    .owl-dot {
      &.active {
        background-color: $primary-light;
      }
    }
  }
}
