#contact-section {
  .container--contact {
    max-width: 1246px;
    .standard-format {
      p {
        a {
          text-decoration: none;
          color: $font-color-base;
        }
      }
    }
    .col-md-4 {
      display: flex;
      justify-content: center;
    }
    .col-md-5 {
      p {
        margin-bottom: 40px;
      }
      .text-right {
        text-align: right;
      }
    }
    .col-lg-3 {
      .headline--sm {
        font-size: 48px;
      }
    }
    .col-lg-5 {
      .headline--sm {
        font-size: 48px;
      }
      @include max1200 {
        flex: 0 0 47.667%;
        max-width: 46.667%;
      }
      @include max992 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .contact {
    &__image {
      border-radius: 155px;
    }
    &-section {
      &__left-photo {
        @include max1200 {
          flex: 0 0 26.333333%;
          max-width: 26.333333%;
        }
        @include max992 {
          max-width: 100%;
          flex: 0 0 100%;
        }
        // @include min1200 {
        //   left: -1rem;
        // }
        @include max992 {
          text-align: center;
        }
      }
    }
  }
  .standard-format p {
    margin-bottom: 16px;
  }
  .contact-section--description {
    margin-bottom: 2.5rem !important;
  }
}

.icon-phone,
.icon-location {
  font-size: 1.3rem;
}

.home {
  #contact-section {
    margin-top: -12rem;
    @include max576 {
      margin-top: -23rem;
      .contact-section__left-photo {
        margin-top: 5rem;
      }
    }
  }
}
