#contact-section {
  .container--contact {
    max-width: 1246px;
    .standard-format {
      p {
        a {
          text-decoration: none;
          color: $font-color-base;
        }
      }
    }
    .col-md-4 {
      display: flex;
      justify-content: center;
    }
    .col-md-5 {
      p {
        margin-bottom: 40px;
      }
      .text-right {
        text-align: right;
      }
    }
    .col-lg-3 {
      .headline--sm {
        font-size: 48px;
      }
    }
    .col-lg-5 {
      .headline--sm {
        font-size: 48px;
      }
    }
  }
  .contact {
    &__image {
      border-radius: 155px;
    }
    &-section {
      &__left-photo {
        @include min992 {
          left: -1rem;
        }
        @include max992 {
          text-align: center;
        }
      }
    }
  }
  .standard-format p {
    margin-bottom: 16px;
  }
  .contact-section--description {
    margin-bottom: 2.5rem !important;
  }
}

.icon-phone,
.icon-location {
  font-size: 1.3rem;
}

.home {
  #contact-section {
    margin-top: -12rem;
  }
}
