.sub-footer {
  position: relative;
  background-color: $sub-footer;
  padding: 2.7rem 0;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: url(../img/after2.png);
    display: inline;
    height: 375px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
  }
  .row {
    .col-lg-3,
    .col-lg-5 {
      margin-top: 2rem;
    }
    .col-lg-3 {
      max-width: 25%;
    }
    .col-lg-5 {
      max-width: 41.6%;
    }
    @include max576 {
      .col-xs-3 {
        margin: 2rem;
        margin-bottom: 0;
      }
      .col-xs-5 {
        margin: 2rem 1rem;
        margin-bottom: 0;
      }
    }
  }
  &__headline {
    font-size: 24px;
    margin-bottom: 40px;
  }
  ul {
    li {
      list-style: disc;
      font-size: 16px;
      color: $primary;
      line-height: 1.5rem;
    }
  }
  &__text {
    max-width: 75%;
    margin: 2rem 0;
  }
  ul {
    li {
      &::marker {
        color: $font-color-base;
      }
    }
  }
  &__lists {
    //position: relative;
    margin-top: 4rem;
  }
}

.footer {
  background-color: #fff;

  p {
    color: $font-color-base;
    text-align: center;
    margin-bottom: 16px;

    a {
      color: $primary;
    }
  }
  .footer-flex {
    justify-content: space-between;
  }
}
