$hero-height: 500px;

.hero {
  height: $hero-height;
  background-color: $primary-lightest;

  &__slide {
    position: relative;
  }

  &__content {
    z-index: 2;
    max-width: 560px;
    position: relative;
    left: -22rem;
    @include max1480 {
      left: -15rem;
    }
    @include max1360 {
      left: -13rem;
    }
    @include max1200 {
      left: -11rem;
    }
    @include max1024 {
      left: -8rem;
    }
    @include max768 {
      left: -5rem;
    }
    @include max576 {
      left: 0;
    }
  }
}

.owl-hero {
  .item {
    height: $hero-height;
    background-color: $primary-lighter;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 24px 0 48px;
  }
}
