$hero-height: 500px;

.hero {
  height: $hero-height;
  background-color: $primary-lightest;
  @include max576 {
    margin-bottom: 100px;
  }

  &__slide {
    position: relative;
  }

  &__content {
    z-index: 2;
    max-width: 560px;
    position: relative;
    @include min768 {
      left: -5rem;
    }
    @include min992 {
      left: -8rem;
    }
    @include max576 {
      left: 0;
    }
    @include min1200 {
      left: -11rem;
    }
    @include min1360 {
      left: -14rem;
    }
    @include min1480 {
      left: -16rem;
    }
    @media all and (min-width: 1920px) {
      left: -21rem;
    }
    .standard-format {
      margin-bottom: 2rem;
    }
  }
}

.owl-hero {
  .item {
    height: $hero-height;
    background-color: $primary-lighter;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 24px 0 48px;
  }
  .owl-dot {
    &:hover {
      opacity: 0.7;
      transition: 0.3s ease-in-out;
    }
  }
}
