.page-hero {
  background-color: $primary-lighter;
  background-image: url(../img/page-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;
  .container {
    @include min992 {
      margin-left: 13rem;
    }
    @include min1360 {
      margin-left: 15rem;
    }
    h1.headline {
      font-size: 72px;
    }
    @include max576 {
      h1.headline {
        font-size: 50px;
      }
    }
  }
}
