.testimonials {
  background-color: $testimonials;
  padding-bottom: 12rem;
  position: relative;
  overflow: hidden;
  @include max576 {
    padding-bottom: 5rem;
  }
  &::before {
    content: url(../img/before3.png);
    display: inline;
    height: auto;
    width: 668px;
    position: absolute;
    top: -3rem;
    @include max576 {
      left: -3rem;
    }
  }
  .headline {
    position: relative;
    z-index: 1;
  }
  &__p {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
  }
  &__share {
    text-align: center;
    position: relative;
    z-index: 1;

    .btn:first-of-type {
      margin-right: 1rem;
    }
    @include max768 {
      margin-bottom: 5rem;
    }

    &__item {
      width: 32px;
      height: 32px;
      background-color: $primary;
      color: #fff;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px;
      font-size: 15px;
    }

    p {
      line-height: 1.5;
      margin-bottom: 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
    }
    @include max576 {
      .btn:nth-of-type(2) {
        position: relative;
        top: 2rem;
      }
    }
  }
}
