.sidebar {
  height: 100%;

  &__item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
    margin-bottom: 48px;

    .headline {
      color: #000;
    }
    &--sticky {
      position: sticky;
      top: 106px;

      @include min1200 {
        top: 30px;
      }
    }
  }
}
